<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admiral</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
       
       // function to logout user
       function logout(){
        localStorage.removeItem('access_token')
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
        window.location.href='http://127.0.0.1:5000/'
      }

      // function to update the type of car insurance
      function update_car_insurance_type(plan_type){
        fetch('http://127.0.0.1:5000/update/car_insurance_type',{
          method:'POST',
          headers:{
            'Content-Type': 'application/json',
            'Authorization':'JWT {{access_token}}'
          },
          body:JSON.stringify({
            'plan_type':plan_type,
            'username':'{{username}}'
          })
        })
        .then((res)=>console.log(res))
      }

      // function to update the type of home insurance
      function update_home_insurance_type(plan_type){
        fetch('http://127.0.0.1:5000/update/home_insurance_type',{
          method:'POST',
          headers:{
            'Content-Type': 'application/json',
            'Authorization':'JWT {{access_token}}'
          },
          body:JSON.stringify({
            'plan_type':plan_type,
            'username':'{{username}}'
          })
        })
        .then((res)=>console.log(res))
      }
    </script>
    <p>Home Page</p>
    <p>My Token: {{access_token}}</p>
    <p>Stored token : </p>
    <p id="token"></p>
    
    <!--If user is not logged in-->
    <div id="not_signed_in" style="visibility: hidden;">
    <!--Sign Up Modal start-->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">
        Sign Up
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action='/signup' method="POST">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
              <div class="modal-footer">
              
              </div>
          </div>
          </div>
      </div>
      <!--Sign Up Modal end-->

      <!--Login Modal start-->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
          Login
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form action="/login" method="POST">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text"></div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
              <div class="modal-footer">
              
              </div>
          </div>
          </div>
      </div>
      <!--Login Modal end-->


    </div>
    

    <div id="signed_in" style="visibility: hidden;">
      <!--User Account Modal start-->
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userAccountModal">
        My Account
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="userAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">My Account</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <table>
                    <tr>
                      <td>Username</td>
                    </tr>
                    <tr>
                      <td>Home Insurance</td>
                    </tr>
                    <tr>
                      <td>Car Insurance</td>
                    </tr>
                  </table>
              </div>
              <div class="modal-footer">
              
              </div>
          </div>
          </div>
      </div>
      <!--User Account Modal end-->

      <!--Logout button start-->
      <button type="button" class="btn btn-primary" onclick="logout()">Logout</button>
      <!--Logout button end-->

      <h2>Car Insurance Type</h2>
      <!--Car insurance buttons start-->
      <button type="button" class="btn btn-outline-primary" onclick="update_car_insurance_type('Basic')" >Basic</button>
      <button type="button" class="btn btn-outline-primary" onclick="update_car_insurance_type('Gold')" >Gold</button>
      <button type="button" class="btn btn-outline-primary" onclick="update_car_insurance_type('Platinum')" >Platinum</button>
      <!--Car insurance buttons end-->

      <h2>Home Insurance Type</h2>
      <!--Car insurance buttons start-->
      <button type="button" class="btn btn-outline-primary" onclick="update_home_insurance_type('Basic')" >Basic</button>
      <button type="button" class="btn btn-outline-primary" onclick="update_home_insurance_type('Gold')" >Gold</button>
      <button type="button" class="btn btn-outline-primary" onclick="update_home_insurance_type('Platinum')" >Platinum</button>
      <!--Car insurance buttons end-->


    </div>


    <script>
      if(localStorage.getItem('access_token')){
        document.getElementById('signed_in').style.visibility='visible'
      }
      else if('{{access_token}}'){
        localStorage.setItem('access_token', '{{access_token}}')
        document.getElementById('signed_in').style.visibility='visible'
      }
      else{
        document.getElementById('not_signed_in').style.visibility='visible'
      }
    </script>
</body>
</html>